@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91.2%; /* Light Beige */
    --foreground: 240 10% 3.9%; /* Dark Blue-Gray */

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 27 95% 53%; /* Saturated Orange */
    --primary-foreground: 0 0% 98%;

    --secondary: 60 40% 85%; /* Darker beige */
    --secondary-foreground: 240 10% 3.9%;

    --muted: 60 40% 88%; /* Lighter muted beige */
    --muted-foreground: 240 5.9% 45.1%;

    --accent: 180 100% 25.1%; /* Teal */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 60 30% 80%;
    --input: 60 30% 80%;
    --ring: 27 95% 53%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47.4% 11.2%;
    --foreground: 210 40% 98%;

    --card: 222 47.4% 11.2%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47.4% 11.2%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 27 95% 53%; /* Saturated Orange */
    --primary-foreground: 210 40% 9.8%;

    --secondary: 180 50% 15%; /* Dark teal */
    --secondary-foreground: 210 40% 98%;

    --muted: 180 50% 15%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 180 100% 35%; /* Lighter Teal */
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 50% 15%;
    --input: 180 50% 15%;
    --ring: 27 95% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
